<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Crédito</h1>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Saldo:</label>
            <input type="text" class="form-control" readonly [value]="pegarValor">
            <br>
            <div class="col-4">
              <button class="btn btn-primary btn-block" (click)="calcula(-1)">Descontar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  <h1 class="display-5">Operaçõs</h1>
  <br>
  <h4 class="display-5">Deposito</h4>
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(1)">1</button>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(10)">10</button>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(100)">100</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
  <h4 class="display-5">Saque</h4>
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(-1)">1</button>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(-10)">10</button>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary btn-block" (click)="calcula(-100)">100</button>
        </div>
      </div>
    </div>
  </div>
</div>
